/* line 1, demo1.scss */
html {
  background: white url('images/background-body.jpg?1297819558') no-repeat 50% 0;
}

/* line 8, demo1.scss */
body {
  margin: 0;
  padding: 10%;
  text-align: center;
}

/* line 14, demo1.scss */
a {
  background: transparent url('images/background-button.png?1297819558');
  display: inline-block;
  font: normal 32px sans-serif;
  color: #000;
  width: 296px;
  line-height: 78px;
  padding: 1px 0 1px 24px;
  text-align: center;
  text-decoration: none;
  -webkit-user-drag: none;
}
/* line 69, demo1.scss */
a:hover {
  background: transparent url('images/background-button_over.png?1297819558');
}
/* line 107, demo1.scss */
a:active {
  background: transparent url('images/background-button_down.png?1297819558');
  padding: 2px 0 0 24px;
}
