@import 'compass';

body {
  background: #fff;
  margin: 0;
  padding: 10%;
  text-align: center;
}

a {
  $background: #369;
  $width: 320px;
  $height: 80px;
  $shadow_size: 5px;

  $button_face: magick-canvas($width - 4px, $height - $shadow_size,
    magick-fill(magick-linear-gradient(
      magick-color-stop(0%,  lighten($background, 25%)),
      magick-color-stop(3%,  lighten($background, 10%)),
      magick-color-stop(70%, $background)
    )),
    magick-compose(
      magick-canvas($width - 6px, 10px,
        magick-border(magick-linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0)), 10px, 1px)
      ),
      50%, 1px
    ),
    magick-corners(10px),
    magick-border(darken($background, 10%), 10px, 1px)
  );

  $button_normal: magick-sprite('button/normal',
    magick-canvas($width, $height,
      magick-compose($button_face, 50%, 0),
      magick-compose(magick-canvas('icon-blank_page.png', magick-effect('fade', 50%)), 26px, ($height - $shadow_size - 32px) / 2),
      magick-drop-shadow(-90deg, $shadow_size / 2, $shadow_size, rgba(0, 0, 0, 0.9))
    )
  );

  $button_hover: magick-sprite('button/hover',
    magick-canvas($width, $height,
      magick-compose(magick-canvas($button_face, magick-effect(brightness, 5%)), 50%, 0),
      magick-compose(magick-canvas('icon-blank_page.png'), 26px, ($height - $shadow_size - 32px) / 2),
      magick-drop-shadow(-90deg, $shadow_size / 2, $shadow_size, rgba(0, 0, 0, 0.9))
    )
  );

  $button_active: magick-sprite('button/active',
    magick-canvas($width, $height,
      magick-compose(
        magick-canvas($width - 4px, $height - $shadow_size,
          magick-fill(magick-linear-gradient(
            magick-color-stop(0%,  darken($background, 10%)),
            magick-color-stop(3%,  darken($background, 5%)),
            magick-color-stop(70%, $background)
          )),
          magick-fill(magick-linear-gradient(
            magick-color-stop(0%,  rgba(0, 0, 0, 0.25)),
            magick-color-stop(10%, rgba(0, 0, 0, 0))
          )),
          magick-fill(magick-linear-gradient(
            magick-color-stop(0%,  rgba(0, 0, 0, 0.25)),
            magick-color-stop(35%, rgba(0, 0, 0, 0))
          )),
          magick-compose(
            magick-canvas($width - 6px, 10px,
              magick-border(magick-linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25)), 10px, 1px)
            ),
            50%, $height - $shadow_size - 11px
          ),
          magick-corners(10px),
          magick-border(darken($background, 10%), 10px, 1px)
        ),
        50%, 1px
      ),
      magick-compose(magick-canvas('icon-blank_page.png'), 26px, ($height - $shadow_size - 32px) / 2 + 1px),
      magick-drop-shadow(-90deg, $shadow_size / 2 - 1, $shadow_size - 1, rgba(0, 0, 0, 0.9))
    )
  );

  display: inline-block;
  background: transparent $button_normal;
  color: #fff;
  @include text-shadow(0 1px 1px darken($background, 25%));
  font: normal round($height / 2.5) verdana, tahoma, helvetica, arial, sans-serif;
  width: $width - 24px * 2;
  line-height: $height - $shadow_size - 2px;
  padding: 1px 24px (1px + $shadow_size) 24px;
  text-align: center;
  text-decoration: none;
  -webkit-user-drag: none;

  &:hover {
    $highlight: 10%;

    background: transparent $button_hover;
  }

  &:active {
    background: transparent $button_active;
    @include text-shadow(0 -1px 1px darken($background, 10%));
    padding: 2px 24px $shadow_size 24px;
  }
}
