html {
  background: #fff magick-image('background-body.jpg', 1600px, 480px, 'JPEG:75%',
    magick-fill(magick-linear-gradient(red, green, blue, 0)),
    magick-fill(magick-linear-gradient(#000, #fff, 90, 'Screen'))
  ) no-repeat 50% 0;
}

body {
  margin: 0;
  padding: 10%;
  text-align: center;
}

a {
  $width: 320px;
  $height: 80px;

  background: transparent magick-image('background-button.png', $width, $height,
    magick-fill(rgba(255, 255, 255, 0.25)),
    magick-fill(magick-linear-gradient(
      magick-color-stop(0%,  rgba(255, 255, 255, 0.5)),
      magick-color-stop(50%, rgba(255, 255, 255, 0))
    )),
    magick-fill(
      magick-linear-gradient(
        magick-color-stop(0%,  rgba(255, 255, 255, 0.25)),
        magick-color-stop(50%, rgba(255, 255, 255, 0)),
        0
      ),
      0, 0, 50%),
    magick-fill(magick-linear-gradient(
      magick-color-stop(100%, rgba(0, 0, 0, 0.15)),
      magick-color-stop(75%,  rgba(0, 0, 0, 0))
    )),
    magick-fill(
      magick-linear-gradient(
        magick-color-stop(100%, rgba(0, 0, 0, 0.05)),
        magick-color-stop(75%,  rgba(0, 0, 0, 0)),
        0
      ),
      50%, 0, 100%
    ),
    magick-composite(
      magick-image(24px, 24px,
        magick-composite('icon-hello.png'),
        magick-desaturate(50%)
      ),
      20px, 50%
    ),
    magick-border(
      magick-linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.25)
      ),
      2px, 10px
    ),
    magick-corners(10px)
  );
  display: inline-block;
  font: normal round($height / 2.5) sans-serif;
  color: #000;
  width: $width - 24px;
  line-height: $height - 2px;
  padding: 1px 0 1px 24px;
  text-align: center;
  text-decoration: none;
  -webkit-user-drag: none;

  &:hover {
    background: transparent magick-image('background-button_over.png', $width, $height,
      magick-fill(rgba(255, 255, 255, 0.40)),
      magick-fill(magick-linear-gradient(
        magick-color-stop(0%,  rgba(255, 255, 255, 0.5)),
        magick-color-stop(50%, rgba(255, 255, 255, 0))
      )),
      magick-fill(
        magick-linear-gradient(
          magick-color-stop(0%,  rgba(255, 255, 255, 0.25)),
          magick-color-stop(50%, rgba(255, 255, 255, 0)),
          0
        ),
        0, 0, 50%),
      magick-fill(magick-linear-gradient(
        magick-color-stop(100%, rgba(0, 0, 0, 0.15)),
        magick-color-stop(75%,  rgba(0, 0, 0, 0))
      )),
      magick-fill(
        magick-linear-gradient(
          magick-color-stop(100%, rgba(0, 0, 0, 0.05)),
          magick-color-stop(75%,  rgba(0, 0, 0, 0)),
          0
        ),
        50%, 0, 100%
      ),
      magick-composite('icon-hello.png', 20px, 50%),
      magick-border(
        magick-linear-gradient(
          rgba(0, 0, 0, 0.65),
          rgba(0, 0, 0, 0.40)
        ),
        2px, 10px
      ),
      magick-corners(10px)
    );
  }

  &:active {
    background: transparent magick-image('background-button_down.png', $width, $height,
      magick-fill(rgba(255, 255, 255, 0.20)),
      magick-fill(magick-linear-gradient(
        magick-color-stop(0%,  rgba(0, 0, 0, 0.35)),
        magick-color-stop(75%, rgba(0, 0, 0, 0))
      )),
      magick-fill(
        magick-linear-gradient(
          magick-color-stop(100%, rgba(0, 0, 0, 0.05)),
          magick-color-stop(75%,  rgba(0, 0, 0, 0)),
          180
        ),
        0%, 0, 50%
      ),
      magick-fill(
        magick-linear-gradient(
          magick-color-stop(100%, rgba(0, 0, 0, 0.05)),
          magick-color-stop(75%,  rgba(0, 0, 0, 0)),
          0
        ),
        50%, 0, 100%
      ),
      magick-composite('icon-hello.png', 20px, 53%),
      magick-border(
        magick-linear-gradient(
          rgba(0, 0, 0, 0.50),
          rgba(0, 0, 0, 0.25)
        ),
        2px, 10px
      ),
      magick-corners(10px)
    );
    padding: 2px 0 0 24px;
  }
}
