/* line 3, demo1.scss */
body {
  background: #fff;
  margin: 0;
  padding: 10%;
  text-align: center;
}

/* line 127, demo1.scss */
a {
  display: inline-block;
  background: url('images/button-66f95039f3.png') 0 -160px no-repeat;
  color: white;
  text-shadow: 0 1px 1px #132639;
  font: normal 32px verdana, tahoma, helvetica, arial, sans-serif;
  width: 272px;
  line-height: 73px;
  padding: 1px 24px 6px 24px;
  text-align: center;
  text-decoration: none;
  -webkit-user-drag: none;
}
/* line 116, demo1.scss */
a:hover {
  background: url('images/button-66f95039f3.png') 0 -80px no-repeat;
}
/* line 120, demo1.scss */
a:active {
  background: url('images/button-66f95039f3.png') 0 0 no-repeat;
  text-shadow: 0 -1px 1px #264c73;
  padding: 2px 24px 5px 24px;
}
