/* line 3, demo1.scss */
body {
  background: #fff;
  margin: 0;
  padding: 10%;
  text-align: center;
}

/* line 10, demo1.scss */
a {
  display: inline-block;
  background: transparent url('images/button/normal.png?1301834065');
  color: #fff;
  text-shadow: 0 1px 1px #132639;
  font: normal 32px verdana, tahoma, helvetica, arial, sans-serif;
  width: 272px;
  line-height: 73px;
  padding: 1px 24px 6px 24px;
  text-align: center;
  text-decoration: none;
  -webkit-user-drag: none;
}
/* line 93, demo1.scss */
a:hover {
  background: transparent url('images/button/hover.png?1301834068');
}
/* line 99, demo1.scss */
a:active {
  background: transparent url('images/button/active.png?1301834079');
  text-shadow: 0 -1px 1px #264c73;
  padding: 2px 24px 5px 24px;
}
